<!DOCTYPE html>
<html lang="es">
    <head>
	    <meta charset="utf-8">
	    <title>Terapias Naturales</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
        
        <!-- Css Files -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/plugins.css" rel="stylesheet" type="text/css">
        <link href="css/homePopup.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/responsive.css" rel="stylesheet" type="text/css">
        <link href="css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
        <link href="css/animate.css" rel="stylesheet" type="text/css">
          
        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  
        <script type="text/javascript" src="js/jquery.min.js"></script>
    </head>
    <body>
	    <!-- Preloader -->
        <div id="preloader">
            <div id="status">
            </div>
        </div>
        <!--//Preloader -->

        <!-- #page -->
        <div id="page">
        <!-- header section -->
            <div id="topping">
            </div>
            <section id="top">
                <header> 
            	   <div class="container">                                   
                        <!-- logo -->
                        <div id="logo">
                            <a href="#topping">Terapias<strong>Naturales</strong></a>
                        </div>
                        <!-- menu -->
                        <nav class="navmenu">
                            <ul>
                                <li class="scrollable"><a href="#topping">Bienvenidos</a></li>  
                                <li class="scrollable"><a href="#about">La consulta</a></li>
                                <li class="scrollable"><a href="#staff">Quien soy</a></li>
                                <li class="scrollable"><a href="#portfolio">Galería</a></li>
                                <li class="scrollable"><a href="#shop">Tienda</a></li>          
                                <li class="scrollable"><a href="#contact">Contacto</a></li>
                            </ul>
                        </nav>
                        <!-- end menu --> 
                        <div class="clear">
                        </div>
                    </div>
                </header>               
            </section>
            <!-- //end header section -->
                      
        <!-- home content -->
        <section id="home">
            	
        	<!--Slider-->
            <div class="full_slider">
                <div id="fullwidth_slider" class="flexslider wow bounceIn">
                    <ul class="slides">
                        <li>
                            <div class="slideshow-overlay">
                            </div>    
                            <img src="images/slider/tarjeta_terapias_naturales.jpg" alt="" class="slide_bg"/>
                            <div class="full_slider_caption">
                                <div class="container">
                                    <div class="cont">
                                        Alicia Sánchez Molero
                                        <div class="title">Terapias Naturales
                                        </div>
                                        <br>Masajes profesionales
                                    </div>
                                </div>
                            </div>
                        </li>      
                        <li>
                        	<div class="slideshow-overlay">
                            </div>    
                            <img src="images/slider/foto_salon_de_masaje_alicia2.jpg" alt="" class="slide_bg"/>
                            <div class="full_slider_caption">
                                <div class="container">
                                    <div class="cont">
                                        Alicia Sánchez Molero
                                        <div class="title">Terapias Naturales
                                        </div>
                                        <br>Masajes profesionales
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slideshow-overlay">
                            </div>    
                            <img src="images/slider/conjunto_sacos_tao2.jpg" alt="" class="slide_bg"/>
                            <div class="full_slider_caption">
                                <div class="container">
                                	<div class="cont">
	                                    Alicia Sánchez Molero
                                        <div class="title">Terapias Naturales
                                        </div>
                                        <br>Masajes profesionales
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>          
        <!--//Slider-->            
        </section>
		<!-- //end home content -->        
        
        <!-- start content -->
        <section class="page_section">         
            <!-- section header -->
            <header class="head_section center_section">
                <div class="container">
                    <h1>Bienvenidos a Terapias Naturales</h1>
                    <div class="separator"></div>
                    <p><h3>Presentación de las diferentes tecnicas terapeuticas</h3></p>
                </div><!-- end .container -->
            </header>
            <!-- //section header -->
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="icon-banner">
                        	<a href="javascript:void(0);">
                            <div class="icon">
                                <img alt="" src="images/icons/osteopatia_manos.png">
                            </div>
                                <h3>Osteopatía</h3>
                                <div class="separator"></div>
                            	<p>El tratamiento osteopático consiste en tratar las disfunciones que se puedan encontrar en la columna vertebral, las articulaciones, el sistema nervioso, el sistema muscular, las vísceras, el cráneo. Busca recuperar el equilibrio corporal perdido, reactivando sus mecanismos de autocuración con diversas técnicas terapéuticas: manipulaciones articulares, técnicas de energía muscular, de movilización, de estiramiento, entre muchas otras.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="icon-banner">
                        	<a href="javascript:void(0);">
                                <div class="icon">
                                	<img alt="" src="images/icons/reflexologia.png">
                                </div>
                                <h3>Reflexología</h3>
                                <div class="separator"></div>
                            	<p>La reflexología es la práctica de estimular puntos sobre los pies, manos, nariz u orejas (llamados «zonas de reflejo»), basada en el hecho de que ese masaje tiene un efecto beneficioso en un órgano situado en otro lugar del cuerpo. La reflexoterapia, la digitopuntura (opresión en puntos concretos y bien especificados) alivia numerosas dolencias tales como el dolor de espalda, dolor en el cuello, estreñimiento, dolores menstruales, asma, cefalea, etc.</p>
                            </a>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="icon-banner">
                        	<a href="javascript:void(0);">
                                <div class="icon">
                                	<img alt="" src="images/icons/acupuntura.png">
                                </div>
                                <h3>Acupuntura</h3>
                                <div class="separator"></div>
                            	<p>La acupuntura (del latín acus, ‘aguja’, y punctura, ‘pinchar’) es una forma de medicina alternativa en la que se insertan agujas en el cuerpo. Es un componente clave de la medicina tradicional china (MTC). La acupuntura se usa principalmente en el alivio del dolor aunque también en un amplio rango de enfermedades.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="icon-banner">
                            <a href="javascript:void(0);">
                                <div class="icon">
                                    <img alt="" src="images/icons/chiropraxia.png">
                                </div>
                                <h3>Quiromasaje</h3>
                                <div class="separator">
                                </div>
                                <p>El "quiromasaje" es un método de exploración y de tratamiento manual, aplicado sobre la cubierta corporal y trasmitido por la presión mecánica de las manos a los diferentes órganos y tejidos del cuerpo humano, que tiene a la vez, efectos reguladores sobre el dolor, la sensación general de energía, los estados de ánimo, el cansancio y en general sobre la psique.</p>
                            </a>
                        </div>
                    </div>
                   <div class="clear"></div>
                </div>
            </div><!-- end .container -->
        </section> 
        <!-- //end start content -->
                           
        <!-- about content-->
        <section class="page_section" id="about">                     
            <!-- section content -->   
            <div class="container wow fadeInUp">
                <div class="about_block bg_gray mb30">
                    <div class="col_cont">
                        <div class="wrap_cont">
                            <header class="head_section">
                            	<!-- <span>our</span> -->
                                <h2>Mi consulta</h2>
                                <!-- <span>History</span> -->
                                <div class="separator left">
                                </div>
                            </header>
                            <p>La luna vino a la fragua con su polisón de nardos. El niño la mira mira. El niño la está mirando. En el aire conmovido mueve la luna sus brazos, y enseña, lúbrica y pura, sus senos de duro estaño. Huye luna, luna, luna. Si vinieran los gitanos, harían con tu corazón collares y anillos blancos. Niño déjame que baile. Cuando vengan los gitanos, te encontrarán sobre el yunque con los ojillos cerrados. Huye luna, luna, luna, que ya siento sus caballos. Niño déjame, no pises, mi blancor almidonado. El jinete se acercaba tocando el tambor del llano. Dentro de la fragua el niño, tiene los ojos cerrados. Por el olivar venían, bronce y sueño, los gitanos. Las cabezas levantadas y los ojos entornados. Cómo canta la zumaya, ay como canta en el árbol! Por el cielo va la luna con el niño de la mano. Dentro de la fragua lloran, dando gritos, los gitanos. El aire la vela, vela. El aire la está velando.</p>
                            <a href="javascript:void(0);" class="shortcode_button">Leer Más
                            </a>
                        </div>
                    </div>  
                    <div class="col_img">
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>                                	
		<!-- //section content --> 
        </section>  
        <!-- //end about content-->

       
        <!-- team content -->
        <section class="page_section" id="staff">
            <div class="container block-wrap">
            	<div class="row carousel-box carousel-full">
                	<div class="col-md-3">
                    	<div class="control-block bg_colored block">
                        	<header class="head_section">
                            	<div class="icon-write">
                                  <i class="pe-5x pe-va pe-7s-diamond"></i> 
                                </div> 
                            	<!-- <span>Alicia</span> -->
                                <h2>Alicia SANCHEZ MOLERO</h2>
                                <div class="separator left"></div>
                            </header>
                            <h3>Diplomada en osteopatía, acupuntura, reflexología y quiromasaje.</h3>
                            <br/>                              
                            <div>
                                <img src="images/logo_terapias_naturales_sacos_tao.jpg" alt="">
                            </div>                        
                        	<!--<div class="customNavigation">
                                    <a class="btn-prev"><i class="fa fa-angle-left"></i></a>
                            	    <a class="btn-next"><i class="fa fa-angle-right"></i></a> 
                                </div> -->
                        </div>
                    </div>
                    <div class="col-md-9">
                    	<div class="owl-carousel">
                            <div class="item-team">
                            	<div class="row">
                                    <div class="col-md-4 col-sm-4">
                                    	<div class="img block">
                                        	<img src="images/team/alicia.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <div class="cont block">
                                            <h4>Quien soy</h4>
                                            <div class="separator left">
                                                
                                            </div>
                                            <p>El diamante de una estrella ha rayado el hondo cielo, pájaro de luz que quiere escapar del universo y huye del enorme nido donde estaba prisionero sin saber que lleva atada una cadena en el cuello. Cazadores extrahumanos están cazando luceros, cisnes de plata maciza en el agua del silencio. Los chopos niños recitan la cartilla. Es el maestro, un chopo antiguo que mueve tranquilo sus brazos viejos. Ahora en el monte lejano jugarán todos los muertos a la baraja. ¡Es tan triste la vida en el cementerio! ¡Rana, empieza tu cantar! ¡Grillo, sal de tu agujero! Haced un bosque sonoro con vuestras flautas. Yo vuelo hacia mi casa intranquilo. Se agitan en mi recuerdo dos palomas campesinas y en el horizonte, lejos, se hunde el arcaduz del día. ¡Terrible noria del tiempo!</p>
											<div class="social">
                                                <a href="https://facebook.com/alicia.sanchezmolero" class="soc-f">f</a>
                                            	<a href="javascript:void(0);" class="soc-t">t</a>
                                                <a href="javascript:void(0);" class="soc-g">g</a>
                                                <a href="javascript:void(0);" class="soc-n">n</a>
                                                <a href="javascript:void(0);" class="soc-v">v</a>
                                                <a href="javascript:void(0);" class="soc-r">r</a>
                                                <a href="javascript:void(0);" class="soc-i">i</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="item-team">
                            	
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end .container -->
        </section> 
        <!-- //end team content -->       
       
        <!-- portfolio content-->
        <section class="page_section" id="portfolio">
            <!-- section header -->
            <header class="head_section center_section">
                <div class="container">
                    <h2>Galería</h2>
                    <div class="separator"></div>
                    <p>La Carmen está bailando por las calles de Sevilla. Tiene blancos los cabellos y brillantes las pupilas.</p>
                </div><!-- end .container -->
            </header>
            <!-- //section header --> 
            
            <!-- section content --> 
            <div class="portfolio-block">           
                <div class="container wow fadeInUp">
                    <ul class="portfolio-menu" id="filters">
                        <li class="active"><a data-filter="*">Todas la fotos</a></li>
                        <li><a data-filter=".massage">Acupuntura</a></li>
                        <li><a data-filter=".therapy">Reflexología</a></li>
                        <li><a data-filter=".mud">Osteopatía</a></li>
                        <li><a data-filter=".cosmetic">Quiromasaje</a></li>
                    </ul>
                    <div class="row portfolio-list image-grid">
                        <div class="item col-md-4 col-sm-4 col-xs-12 massage mud cosmetic">
                            <a href="images/galeria/zoom/1.jpg" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                                <img src="images/galeria/masaje2.png" alt="">
                                <div class="caption">
                                    <div class="info">
                                        <h4>Masaje caliente</h4>
                                        <div class="separator"></div>
                                        <p>Masaje tradicional con aceite de almendra.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item col-md-4 col-sm-4 col-xs-12 therapy mud">
                            <a href="images/galeria/zoom/2.jpg" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                                <img src="images/galeria/masaje4.png" alt="">
                                <div class="caption">
                                    <div class="info">
                                        <h4>Masaje super caliente</h4>
                                        <div class="separator"></div>
                                        <p>Masaje tradicional.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item col-md-4 col-sm-4 col-xs-12 mud">
                            <a href="images/galeria/zoom/3.jpg" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                                <img src="images/galeria/acupuntura2.png" alt="">
                                <div class="caption">
                                    <div class="info">
                                        <h4>Acupuntura en la espalda</h4>
                                        <div class="separator"></div>
                                        <p>Acupuntura tradicional.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item col-md-4 col-sm-4 col-xs-12 cosmetic mud">
                            <a href="images/galeria/zoom/4.jpg" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                                <img src="images/galeria/acupuntura5.jpg" alt="">
                                <div class="caption">
                                    <div class="info">
                                        <h4>Acupuntura en la espalda</h4>
                                        <div class="separator"></div>
                                        <p>Acupuntura tradicional.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item col-md-4 col-sm-4 col-xs-12 therapy">
                            <a href="images/galeria/zoom/5.jpg" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                                <img src="images/galeria/masaje_alicia7.png" alt="">
                                <div class="caption">
                                    <div class="info">
                                        <h4>Masaje caliente</h4>
                                        <div class="separator"></div>
                                        <p>Masaje tradicional</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                       <div class="item col-md-4 col-sm-4 col-xs-12 massage therapy">
                            <a href="images/galeria/zoom/6.jpg" class="prettyPhoto" data-rel="prettyPhoto[portfolio55]">
                                <img src="images/galeria/masaje_alicia8.png" alt="">
                                <div class="caption">
                                    <div class="info">
                                        <h4>Traditional Massage</h4>
                                        <div class="separator"></div>
                                        <p>Traditional Body Massage.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                    <div class="app-item"><a class="shortcode_button add-item">Más fotos</a></div>
                </div>                                                                    
			</div>
            <!-- //section content -->    
        </section>
        <!-- //end portfolio content-->
        
        <!-- Shop section-->
        <section class="page_section" id="shop">      
            <!-- section content -->
            <div class="container wow fadeInUp">
        	   <header class="head_section center_section">
                    <h2>Tienda</h2>
                    <div class="separator"></div>
                        <p>Los sacos Tao son productos naturales para aliviar los dolores.</p>
                </header>
        	    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane">
                                <div class="row">
                                    <% for(var i=0; i<shopList.length; i++) { %>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="product-single">
                                            <!--<a href="#"><img src="<%=shopList[i].productPhoto%>"></a>--> <!-- cette ligne c'était quand je voulais récupérer la photo de la base de données en récupérant son chemin vers le serveur (/images/etc) et que dans la page du formulaire, à la ligne photo, je devais écrire le chemin (/images, etc)-->
                                            <!-- alors qu'à la ligne en-dessous, je veux que s'affiche la photo qui est enregistrée directement dans le serveur quand je tape dans le formulaire (formulaire qui a changé car maintenant à la ligne photo il y a "télécharger un fichier") -->
                                            <img src="/images/shop/<%=shopList[i].id%>.jpg">
                                          
                                            <div class="hot-wid-rating">
                                                <h4><a href="/compra?id=<%=shopList[i].id%>"><%=shopList[i].productName%></a></h4>
                                                <h4>Descripción:<h5><%=shopList[i].productDescription%></h5></h4>
                                                <div class="product-wid-price">
                                                   <h4><ins><%=shopList[i].productPrice%>€</ins></h4> <!--<del>$280.00</del> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
        <!-- // end Shop section-->
        </section> 
        
        <!-- contact content-->
        <section class="page_section" id="contact">
            <div class="container block-wrap wow fadeInUp">
            	<div class="row">
                	<div class="col-md-3">
                    	<div class="info-block bg_colored block">
                        	<header class="head_section">
                            	<div class="icon-write">
                                  <i class="pe-5x pe-va pe-7s-diamond"></i> 
                                </div> 
                                <h3>¡LLAMAME O ESCRIBEME!</h3>
                                <h3>669 386 092</h3>
                                <h5>terapiasnaturales@gmail.com</h5>
                                <!-- <div class="separator left"></div> -->
                            </header>
                            <img src="/images/masaje-alicia.gif" alt="">
                            <div class="separator left"></div>
                             <p>No te cortes! Escribeme o llamame!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                    	
                        <a href= "https://www.google.fr/maps/place/Plaza+de+las+Pasiegas,+2,+18001+Granada,+Espagne/@37.1758841,-3.6021838,17z/data=!3m1!4b1!4m5!3m4!1s0xd71fcbfb4a1f47b:0x5e1d5629e1667d75!8m2!3d37.1758798!4d-3.5999951">
                            <img src= "/images/granada_map.png">
                        </a>


                    </div>
                    <div class="col-md-3">
                    	<div class="info-block bg_black block">
                        	<header class="head_section">
                            	<div class="icon-write">
                                  <i class="pe-5x pe-va pe-7s-diamond"></i>                                 
                                </div> 
                                <h3>CONTACTO</h3>
                                <span>Detalles</span>
                              <div class="separator left"></div>
                            </header>
                            <p>Dirección: Plaza de las Pasiegas, n°2, 2-A</p>
                            <p>18 001 GRANADA </p>
                            <p>España</p>
                            <p>Teléfono: 669 386 092</p>
                            <!-- <p>Fax: +1 (800) 447 33 21</p> -->
                            <p><h5>Email: terapiasnaturales@gmail.com</h5></p>
                        </div>
                    </div>
                </div>
            </div><!-- end .container -->
        </section>
        <!-- //end contact content-->
                
         
         
        <!--footer-->
        <div class="footer">
            <!-- footer_bottom -->
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="footer_block">
                            <img src="/images/logo_black.png" alt="">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="footer_block">
                            <div class="title">
                                <h3>Horarios de Apertura</h3>
                            </div>
                            <div class="working_hours">
                                <ul>
                                    <li>
                                        <span><i class="fa fa-clock-o"></i>Lunes - Martes</span>
                                        <span>06.00 - 22.00</span>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-clock-o"></i>Viernes</span>
                                        <span>06.00 - 23.00</span>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-clock-o"></i>Sabado</span>
                                        <span>06.00 - 23.30</span>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-clock-o"></i>Domingo</span>
                                        <span>06.00 - 21.00</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="social">
                                <a href="https://facebook.com/alicia.sanchezmolero" class="soc-f">f</a>
                                <a href="javascript:void(0);" class="soc-t">t</a>
                                <a href="javascript:void(0);" class="soc-g">g</a>
                                <a href="javascript:void(0);" class="soc-n">n</a>
                                <a href="javascript:void(0);" class="soc-v">v</a>
                                <a href="javascript:void(0);" class="soc-r">r</a>
                                <a href="javascript:void(0);" class="soc-i">i</a>
                    </div>
                    <!-- </div>
                    </div> -->
                </div> 
                <div class="copyright">
                    &copy; Copyright  2017. Terapias Naturales All Rights Reserved.
                </div>            
            </div>
            <!-- //footer_bottom -->
        </div>
        <!--//footer-->       
    </div><!-- end #page -->
    
    <header class="fixed-menu"></header>
    
          
    <!-- javascript files-->
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/sorting.js"></script>
    <script src="js/homePopupLoad.js" type="text/javascript"></script>
    <script src="js/homePopup.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/plugins.js"></script>       
    <script type="text/javascript" src="js/current.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
     
   
       
    <!-- animation on scrolling-->
	<script>
              new WOW().init();
              </script>
    
    <script>
	
	<!-- portfolio load more button-->
		items_set = [                    
			{src :'images/portfolio/10.jpg', url :'javascript:void(0);', sortcategory:'cosmetic', zoomurl:'images/portfolio/zoom/10.jpg', title:'Cosmetic', description:'Ut enim ad minima veniam, quis nostrum exercitationem ullam.'},
			{src :'images/portfolio/11.jpg', url :'javascript:void(0);', sortcategory: 'massage', zoomurl:'images/portfolio/zoom/11.jpg', title:'Hot spring', description:'Ut enim ad minima veniam, quis nostrum exercitationem ullam.'},
			{src : 'images/portfolio/12.jpg', url : 'javascript:void(0);', sortcategory: 'therapy', zoomurl: 'images/portfolio/zoom/12.jpg', title:'Therapy', description:'Ut enim ad minima veniam, quis nostrum exercitationem ullam.'}
		];
		jQuery('.portfolio-list').portfolio_addon({
			load_count : 3,
			items : items_set
		});
	</script>  
    	  
	</body>
</html>